@page "/Product/EditProduct/{id:int}"
@inherits SalesOrderBase
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime


<PageTitle>Edit Product</PageTitle>


<h5 class="alert-danger" style="text-align:center">
    @message
</h5>

@if (product == null)
{
    <h3>Loading....</h3>
}
else
{
    int i = 1;
    <h3>
        Edit Product
    </h3>
    <form>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input for="Name" class="form-control" @bind="@product.ProductName" />
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:30%">
                            <div class="form-group">
                                <label for="Name" class="control-label">Attribute Type</label>
                                <select for="State" class="form-control" @bind="selectedAttrValue">
                                    <option value="0">--select attribute type--</option>
                                    @foreach (var attr in Attributes)
                                    {
                                        <option value="@attr.TypeId">@attr.Name</option>
                                    }
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label for="Name" class="control-label">Dimension</label>
                                <select for="dimension" class="form-control" @bind="dimensionValue">
                                    <option value="0">--select dimension--</option>
                                    @foreach (var dimension in Dimensions)
                                    {
                                        <option value="@dimension.DimensionId">@(dimension.Width + " X " + dimension.Height)</option>
                                    }
                                </select>
                            </div>
                        </th>
                        <th style="width:10%">
                            <div class="form-group" style="width:10%">
                                <label for="" class="control-label">Action</label>
                                <button type="button" class="btn btn-primary" @onclick="AddToList">Add</button>
                            </div>
                        </th>
                    </tr>
                </thead>

            </table>
        </div>

        <div class="row">

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:1%">SL</th>
                        <th>Attribute Type</th>
                        <th>Dimension</th>
                    </tr>
                </thead>
                <tbody>
                    @if (product.DTOProductAttributes.Count() > 0)
                    {
                        foreach (var productAttr in product.DTOProductAttributes)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>
                                    <div class="form-group">
                                        <select for="State" class="form-control" @bind="productAttr.TypeId">
                                            <option value="0">--select attribute type--</option>
                                            @foreach (var attr in Attributes)
                                            {
                                                <option value="@attr.TypeId">@attr.Name</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select for="dimension" class="form-control" @bind="productAttr.DimensionId">
                                            <option value="0">--select dimension--</option>
                                            @foreach (var dimension in Dimensions)
                                            {
                                                <option value="@dimension.DimensionId">@(dimension.Width + " X " + dimension.Height)</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" @onclick="UpdateProduct">Update</button>
                    <button type="button" class="btn btn-warning" @onclick="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>

}


@code
{
    [Parameter]
    public int id { get; set; }
    int selectedAttrValue = 0;
    int dimensionValue = 0;

    public List<AttributeType> Attributes = new List<AttributeType>();

    protected override async Task OnInitializedAsync()
    {
        Dimensions = new List<DTODimension>();
        product = await ProductService.GetProductById(id);
        Attributes = GetAttributeTypes();
        Dimensions = await DimensionService.GetDimensions();
    }
    async Task UpdateProduct()
    {
        message = string.Empty;
        bool isvalid = getModelValidation(product); // model validation
        if (isvalid)
        {
            if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to update product?"))
                return;
            var result = await ProductService.Update(product);
            if (result)
            {
                navigationManager.NavigateTo("/Product/ProductList");
            }
            else
            {
                message = "error while storing data";
            }
        }
        else
        {
            message = "please check inputs";
        }
    }

    void AddToList()
    {
        message = string.Empty;
        string type = string.Empty;
        var Attrtype = Attributes.FirstOrDefault(it => it.TypeId == selectedAttrValue);
        if (Attrtype != null)
        {
            type = Attrtype.Name;
        }
        var dimension = Dimensions.FirstOrDefault(it => it.DimensionId == dimensionValue);
        string actualDimension = dimension.Width + " X " + dimension.Height;
        if (!string.IsNullOrEmpty(type) && dimensionValue > 0)
        {
            bool isExist = checkDuplicateProduct(product, dimensionValue, selectedAttrValue);
            if (!isExist)
            {
                product.DTOProductAttributes.Add(new DTOProductAttribute { ProductAttributeType = type, TypeId = selectedAttrValue ,DimensionId = dimensionValue, ActualDimension = actualDimension });
            }
            else
            {
                message = "please check inputs";
            }
        }
    }
   
    void Cancel()
    {
        navigationManager.NavigateTo("/Product/ProductList");
    }
}
