@page "/SalesOrder/AddSalesOrder"
@using SalesOderManagement.Web.Services.Contracts;
@inherits SalesOrderBase
@inject NavigationManager navigationManager


@if (States == null)
{
    <h3>Loading....</h3>
}
else
{
    int i = 1;
    <h3>
        Add SalesOrder
    </h3>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name" class="control-label">State</label>
                    <select for="dimension" class="form-control" @onchange="getBuildings">
                        <option value="0">--select State--</option>
                        @foreach (var state in States)
                        {
                            <option value="@state.StateId">@state.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name" class="control-label">Building</label>
                    <select for="dimension" class="form-control" @bind="salesOrder.BuildingsId">
                        <option value="0">--select building--</option>
                        @foreach (var buidling in Buildings)
                        {
                            <option value="@buidling.BuildingId">@buidling.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Name" class="control-label">Product</label>
                    <select for="dimension" class="form-control" @onchange="getProductAttribute">
                        <option value="0">--select product--</option>
                        @foreach (var product in Products)
                        {
                            <option value="@product.ProductId">@product.ProductName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Name" class="control-label">product Attribute</label>
                    <select for="dimension" class="form-control" @bind="ProductAttributeId">
                        <option value="0">--select product attribute--</option>
                        @foreach (var productAttribute in ProductAttributes)
                        {
                            <option value="@productAttribute.ProductAttributeId">@productAttribute.ProductAttributeName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="" class="control-label">Action</label>
                    <button type="button" class="btn btn-primary" @onclick="AddToList">Add</button>
                </div>
            </div>
        </div>
        <div class="row">

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:1%">SL</th>
                        <th>Attribute Type</th>
                        <th>Dimension</th>
                        <th style="text-align:right; width: 10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @*   @if (SalesOrder.DTOSalesOrderAttributes.Count() > 0)
                {
                foreach (var item in SalesOrder.DTOSalesOrderAttributes)
                {
                <tr>
                <td>@(i++)</td>
                <td>@item.SalesOrderAttributeType</td>
                <td>@item.ActualDimension</td>
                <td style="text-align:right">
                <button class="btn btn-warning" @onclick="@(() => RemoveFromList(item))">Remove</button>
                </td>
                </tr>
                }
                }*@

                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" @onclick="CreateSalesOrder">Save</button>
                    <button type="button" class="btn btn-warning" @onclick="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>

}


@code {

    int SelectedAttrValue = 0;
    int SelectedDimensionId = 0;
    int ProductAttributeId = 0;
    //public List<AttributeType> Attributes = new List<AttributeType>();
    protected override async Task OnInitializedAsync()
    {
        //Attributes = new List<AttributeType>() { new AttributeType { Id = 1, Name = "Doors" }, new AttributeType { Id = 2, Name = "window" } };
        //Dimensions = await DimensionService.GetDimensions();
        States = await StateService.GetStates();
        Products = await ProductService.GetProducts();
        Buildings = new List<DTOBuilding>();
        ProductAttributes = new List<DTOProductAttribute>();
    }

    async Task getBuildings(ChangeEventArgs e)
    {
        int stateId = Convert.ToUInt16(e.Value);
        var BuildingList = await BuildingService.GetBuildings();
        Buildings = from building in BuildingList
                    where building.StateId == stateId
                    select building;
    }
    async Task getProductAttribute(ChangeEventArgs e)
    {
        int productId = Convert.ToUInt16(e.Value);
        ProductAttributes = await ProductService.GetProductAttributesByProductId(productId);
    }

    void GetAttributeTypeValue(ChangeEventArgs e)
    {
        SelectedAttrValue = Convert.ToUInt16(e.Value);
    }
    void GetDimensionIdValue(ChangeEventArgs e)
    {
        SelectedDimensionId = Convert.ToUInt16(e.Value);
    }

    private void AddToList()
    {
       // string type = Attributes.FirstOrDefault(it => it.Id == SelectedAttrValue).Name;
        var dimension = Dimensions.FirstOrDefault(it => it.DimensionId == SelectedDimensionId);
        string actualDimension = dimension.Width + " X " + dimension.Height;
        //SalesOrder.DTOSalesOrderAttributes.Add(new DTOSalesOrderAttribute { SalesOrderAttributeType = type, DimensionId = SelectedDimensionId, ActualDimension = actualDimension });
    }
    //void RemoveFromList(DTOSalesOrderAttribute item)
    //{
    //    SalesOrder.DTOSalesOrderAttributes.Remove(item);
    //}
    private async Task CreateSalesOrder()
    {
        if (true)
        {
            await SalesOrderService.Create(salesOrder);
            //if (response.StatusCode.ToString() == "OK")
            //{
            //    //DisplayAlert = true;
            //}
            navigationManager.NavigateTo("/SalesOrder/SalesOrderList");
        }
    }
    private void Cancel()
    {
        navigationManager.NavigateTo("/SalesOrder/SalesOrderList");
    }
}

