@page "/SalesOrder/EditSalesOrder/{id:long}"
@inherits SalesOrderBase
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime



<h5 class="alert-danger" style="text-align:center">
    @message
</h5>

@if (salesOrder == null)
{
    <h3>Loading....</h3>
}
else
{
    int i = 1;
    <h3>
        Edit Sales Order
    </h3>
    <form>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="State" class="control-label">State</label>
                    <select for="State" class="form-control" value="@salesOrder.StatesId" @onchange="getBuildingsByState">
                        <option value="0">--select state--</option>
                        @foreach (var state in States)
                        {
                            <option value="@state.StateId">@state.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Building" class="control-label">Building</label>
                    <select for="Building" class="form-control" @bind="salesOrder.BuildingsId">
                        <option value="0">--select building--</option>
                        @foreach (var buidling in Buildings)
                        {
                            <option value="@buidling.BuildingId">@buidling.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label for="Attribute" class="control-label">Product</label>
                                <select for="dimension" class="form-control" @bind="productAttributeId">
                                    <option value="0">--select attribute--</option>
                                    @foreach (var productAttribute in ProductAttributes)
                                    {
                                        <option value="@productAttribute.ProductAttributeId">@productAttribute.ProductAttributeName</option>
                                    }
                                </select>
                            </div>
                        </th>
                        <th style="width:20%">
                            <div class="form-group" style="text-align:right">
                                <label for="Quantity" class="control-label">Quantity</label>
                                <input class="form-control" style="text-align:right" type="number" @bind="Quantity" />
                            </div>
                        </th>
                        <th style="width:10%">
                            <div class="form-group" style="width:10%">
                                <label for="" class="control-label">Action</label>
                                <button type="button" class="btn btn-primary" @onclick="AddToList">Add</button>
                            </div>
                        </th>
                    </tr>
                </thead>

            </table>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">
                            SL
                        </th>
                        <th>
                            Product
                        </th>
                        <th style="width: 30%; text-align:right">
                            Quantity
                        </th>
                        <th style="width: 10%; text-align:right">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var product in salesOrder.DTOSalesOrderDetails)
                        {
                            <tr>
                                <td>
                                    @(i++)
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select for="dimension" class="form-control" @bind="@product.ProductAttributeId">
                                            <option value="0">--select attribute--</option>
                                            @foreach (var productAttribute in ProductAttributes)
                                            {
                                                <option value="@productAttribute.ProductAttributeId">@productAttribute.ProductAttributeName</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" style="text-align:right" type="number" @bind="@product.QuantityOfWindows" />
                                </td>
                                <td style="text-align:right; width:10%">
                                    <button type="button" class="btn btn-warning" @onclick="@(() => RemoveItemFromList(product))">Remove</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" @onclick="UpdateSalesOrder">Update</button>
                    <button type="button" class="btn btn-warning" @onclick="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
}

@code
{
    [Parameter]
    public long id { get; set; }

    int productAttributeId = 0;
    int Quantity = 0;
    int productId = 0;
    int stateId = 0;

    protected override async Task OnInitializedAsync()
    {
        salesOrder.DTOSalesOrderDetails = new List<DTOSalesOrderDetail>();
        States = await StateService.GetStates();
        BuildingList = await BuildingService.GetBuildings();
        salesOrder = await SalesOrderService.GetSalesOrderById(id);
        Buildings = from building in BuildingList
                    where building.StateId == salesOrder.StatesId
                    select building;
        ProductAttributes = await ProductService.GetProductAttributes();
    }
    void getBuildingsByState(ChangeEventArgs e)
    {
        stateId = Convert.ToUInt16(e.Value);
        Buildings = from building in BuildingList
                    where building.StateId == stateId
                    select building;
    }

    void AddToList()
    {
        message = string.Empty;
        string? productAttributeName = string.Empty;
        var attributeInfo = ProductAttributes.FirstOrDefault(it => it.ProductAttributeId == productAttributeId);
        if (attributeInfo != null)
        {
            productAttributeName = attributeInfo.ProductAttributeName;
        }
        if (productAttributeId > 0 && Quantity > 0)
        {
            bool isExist = checkDuplicateProduct(salesOrder, productAttributeId); // check duplicate product 
            if (!isExist)
            {

                salesOrder.DTOSalesOrderDetails.Add(new
                DTOSalesOrderDetail
                    {
                        ProductAttributeId = productAttributeId,
                        QuantityOfWindows = Quantity,
                        ProductAttributeName = productAttributeName
                    });
            }
            else
            {
                message = "The product has already added";
            }
        }
    }

    void RemoveItemFromList(DTOSalesOrderDetail item)
    {
        salesOrder.DTOSalesOrderDetails.Remove(item);
    }
    private async Task UpdateSalesOrder()
    {
        message = string.Empty;
        bool isvalid = getModelValidation(salesOrder); // model validation
        if (isvalid)
        {
            if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to update sales order?"))
                return;
            var result = await SalesOrderService.Update(salesOrder);
            if (result)
            {
                navigationManager.NavigateTo("/SalesOrder/SalesOrderList");
            }
            else
            {
                message = "error while updating data";
            }
        }
        else
        {
            message = "please check inputs";
        }
    }
    private void Cancel()
    {
        navigationManager.NavigateTo("/SalesOrder/SalesOrderList");
    }
}
