@page "/SalesOrder/SalesOrderList"
@inherits SalesOrderBase
@inject NavigationManager navigationManager

<div>
    <a class="btn btn-primary" href='/SalesOrder/AddSalesOrder'>Add New Data</a>
</div>
@if (SalesOrders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    int i = 1;
    <table class="table table-bordered table-hover">
        <tbody>
            @if (SalesOrders == null || SalesOrders.Count() == 0)
            {
                <tr>
                    <td colspan="4">
                        No Records to display
                    </td>
                </tr>
            }
            else
            {
                @*int j = 1;
                foreach (var SalesOrder in SalesOrders)
                {
                    <tr>
                        <th style="width:1%">SL</th>
                        <th colspan="3">SalesOrder</th>
                    </tr>
                    <tr>
                        <td>@(i++)</td>
                        <td colspan="3">@SalesOrder.SalesOrderName</td>
                    </tr>
                    <tr>
                        <th>
                            SL
                        </th>
                        <th>
                            Attribute Type
                        </th>
                        <th>
                            Dimension
                        </th>
                        <th style="text-align:right">
                            Action
                        </th>
                    </tr>*@
                @*    foreach (var attr in SalesOrder.DTOSalesOrderAttributes)
                    {

                        <tr>
                            <td>@(j++)</td>
                            <td>
                                @attr.SalesOrderAttributeType
                            </td>
                            <td>
                                @attr.ActualDimension
                            </td>
                            <td style="text-align:right">
                                <button class="btn btn-primary" @onclick="@(() => NavigateToEditSalesOrder(SalesOrder.SalesOrderId))">Edit</button>
                            </td>
                        </tr>
                    }*@
                }
            }
        </tbody>
    </table>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        SalesOrders = await SalesOrderService.GetSalesOrders();
    }
    private void NavigateToEditSalesOrder(int id)
    {
        navigationManager.NavigateTo($"/SalesOrder/EditSalesOrder/{id}");
    }
}

